body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  background-color: #797979;
  margin-right:5px;
  margin-bottom: 5px;
  border-radius: 4px;
  border: none;
  color: white;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}

select {
  margin-bottom: 10px;
  padding: 4px;
  border-radius: 4px;
  background-color: #797979;
  color: white;
}